<!-- <app-hello-world></app-hello-world> -->
<!-- <app-welcome></app-welcome> -->

<!-- <app-home></app-home> -->
<!-- <app-ex-layout></app-ex-layout> -->
<!-- <app-ex-products></app-ex-products> -->
<!-- <app-bus-ticket></app-bus-ticket> -->

<!-- <app-data-binding></app-data-binding> -->
<!-- <app-structutal-directives></app-structutal-directives> -->
<!-- <app-attribute-directives></app-attribute-directives> -->
<!-- <app-interaction></app-interaction> -->
<app-content-projection></app-content-projection>
