<!-- <app-hello-world></app-hello-world> -->
<!-- <app-welcome></app-welcome> -->

<!-- <app-home></app-home> -->
<!-- <app-ex-layout></app-ex-layout> -->
<!-- <app-ex-products></app-ex-products> -->
<!-- <app-bus-ticket></app-bus-ticket> -->

<!-- <app-data-binding></app-data-binding> -->
<!-- <app-structutal-directives></app-structutal-directives> -->
<!-- <app-attribute-directives></app-attribute-directives> -->
<!-- <app-interaction></app-interaction> -->
<!-- <app-content-projection></app-content-projection> -->
<!-- <app-material></app-material> -->

<div>
  <a class="me-4" routerLink="/">Welcome</a>
  <a class="me-4" routerLink="/home">Home</a>
  <a class="me-4" routerLink="/bus-ticket">Bus ticket</a>
  <button class="me-4" routerLink="/material">Material</button>
</div>

<router-outlet></router-outlet>
